.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-container-bg);
}

.container {
	position: relative;
	display: block;
	background: var(--color-container-bg);
	border: 1px solid var(--color-container-assistive);
	border-radius: 100%;
}

.container:hover .numBadge {
	opacity: 1 !important;
}

.item {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: transform 0.2s;
}

.item:hover {
	z-index: 100;
	cursor: pointer;
}

.numBadge {
	display: block;
	width: 16px;
	height: 16px;
	color: var(--color-local-white);
	text-align: center;
	border-radius: 100%;
	cursor: pointer;
}

.radiusIndicator {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background: var(--color-red);
	transform: translateX(-50%) translateY(-50%);
}

.radiusLine {
	position: absolute;
	display: block;
	width: 0.1px;
	background: var(--color-red);
}

.radiusBadge {
	position: absolute;
	top: 50%;
	left: 6px;
	padding: 2px 4px;
	color: var(--color-local-white);
	background: var(--color-red);
	border-radius: 4px;
	transform: translateY(-50%);
}

.radiusOrigin {
	position: absolute;
	bottom: -3px;
	width: 1px;
	height: 6px;
	background: var(--color-red);
}
