/**
 * Preview wrapper component
 * Class names are camcelCased because hyphenated class names are ignored? Bug?
 */
.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--local-color-container-bg);
}

.container {
	position: relative;
	display: block;
	background: var(--local-color-container-bg);
}

/**
 * Radius helper
 */
.radiusContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	transform: translateX(-50%) translateY(-50%);
}

.distanceLine {
	position: absolute;
	width: 0.1px;
	background: var(--color-red);
}

.radiusBadge {
	position: absolute;
	top: 50%;
	left: var(--space-extra-small);
	padding: 2px 4px;
	color: var(--local-color-white);
	background: var(--color-red);
	border-radius: var(--local-border-radius-3);
	transform: translateY(-50%);
}

.originIcon {
	position: absolute;
	bottom: calc(var(--local-space-extra-extra-small) / -2);
	left: calc(var(--local-space-extra-extra-small) / -2);
	width: var(--local-space-extra-extra-small);
	height: var(--local-space-extra-extra-small);
}

.originIcon::before,
.originIcon::after {
	position: absolute;
	top: 0;
	left: calc(var(--local-space-extra-extra-small) / 2);
	display: block;
	width: 1px;
	height: 100%;
	background: var(--color-red);
	content: '';
}

.originIcon::before {
	transform: rotate(45deg);
}

.originIcon::after {
	transform: rotate(-45deg);
}

/**
 * Item component
 */
.item {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--local-color-item-fill);
	box-shadow: var(--local-box-shadow);
	transition: box-shadow 0.2s, border-radius 0.2s;
}

.item:hover {
	z-index: 100;
	box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
	cursor: pointer;
	mix-blend-mode: normal !important;
}

.item:hover .indexBadge {
	opacity: 1 !important;
}

.container:hover .item {
	mix-blend-mode: multiply;
}

.container:hover .indexBadge {
	opacity: 1;
}

.item.isInitial.isRadiusHighlight {
	border: var(--local-item-border-radius) !important;
}

.item.isInitial.isSelected {
	/* border: var(--local-item-border-active-primary); */
	border: 1px solid var(--local-color-purple);
}

.item.isInitial:hover {
	z-index: 0 !important;
}

.item.isInitial .index {
	background: #000 !important;
}

.item.isSelected {
	/* border: var(--local-item-border-active-secondary); */
	border: 1px dashed var(--local-color-purple);
}

.item.isSkipped {
	background: none;
	border: var(--local-item-border-deselected);
}

.item.isRadiusHighlight {
	border: var(--local-item-border-radius);
}

.item.showXray {
	mix-blend-mode: multiply;
}

.item.showIndex .indexBadge {
	opacity: 1;
}

.indexBadge {
	display: block;
	width: var(--space-medium);
	min-width: var(--space-medium);
	height: var(--space-medium);
	min-height: var(--space-medium);
	color: var(--local-color-white);
	text-align: center;
	background: var(--local-color-purple);
	border-radius: 100%;
	cursor: pointer;
	opacity: 0;
}

.indexBadge.isSkipped {
	background: var(--local-color-item-inactive);
}
