.checkboxContainer {
	display: flex;
	justify-content: flex-end;
	margin-top: calc(var(--space-small) * -1);
	padding: var(--space-small);
	background: var(--local-color-container-bg);
}

.checkboxContainer .checkbox {
	display: inline-block;
	padding: var(--space-extra-small);
	background: #fff;
	border-radius: var(--local-border-radius-3);
	box-shadow: var(--local-box-shadow-subtle);
	transition: box-shadow 0.2s;
}

.checkboxContainer .checkbox:hover {
	box-shadow: var(--local-box-shadow);
}

/* Wrap the ui library's <TextBox/> component to display a 'clear' icon after value input */
.textboxContainer {
	--local-icon-stroke-width: 1px;
	--local-icon-size: var(--space-small);
	--local-icon-padding-right: var(--space-extra-small);

	position: relative;
	width: 100%;
	height: 100%;
}

.textboxClear {
	position: absolute;
	top: 50%;
	right: var(--local-icon-padding-right);
	z-index: 100;
	width: var(--local-icon-size);
	height: var(--local-icon-size);
	background: var(--local-color-accent);
	border-radius: 100%;
	transform: translateY(-50%);
	cursor: pointer;
}

.textboxClear::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: var(--local-icon-stroke-width);
	height: calc(var(--local-icon-size) / 2);
	background: #fff;
	transform: translateY(-50%) translateX(-50%) rotate(-45deg);
	content: '';
}

.textboxClear::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: var(--local-icon-stroke-width);
	height: calc(var(--local-icon-size) / 2);
	background: #fff;
	transform: translateY(-50%) translateX(-50%) rotate(45deg);
	content: '';
}
