/**
 * @file Local variables, prefixed with local to avoid conflict with
 * @create-figma-plugin's UI library.
 */

:root {
	--local-color-white: var(--color-white);
	--local-color-accent: var(--color-blue);
	--local-color-purple: var(--color-purple);
	--local-color-darkpurple: #351fa0;
	--local-color-red: var(--color-red);
	--local-color-disabled: rgb(110, 110, 110);

	--local-color-container-bg: #f3f3f3;
	--local-color-container-assistive: #cacaca;

	--local-color-item-fill: var(--local-color-white);
	--local-color-item-border: var(--local-color-white);
	--local-color-item-inactive: #c7c7c7;

	--local-item-border-inactive: 1px solid var(--local-color-white);
	--local-item-border-deselected: 1px dashed
		var(--local-color-container-assistive);
	--local-item-border-radius: 0.1px solid var(--color-red);

	--local-border-radius-3: 3px;

	--local-space-extra-extra-small: 6px;

	--local-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--local-box-shadow-hover: rgba(149, 157, 165, 0.4) 0px 8px 24px;
	--local-box-shadow-subtle: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

body {
	overflow: hidden;
}
