.wrapper {
	--local-basePadding: 8px;
	--local-strokeWidth: 10px;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: var(--local-basePadding);
}

/* Slider container */
.slider {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Radial progress bar */
.bar {
	width: 100%;
	height: 100%;
	border: 4px solid var(--local-color-container-bg);
	border-radius: 100%;
}
.bar::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - var(--local-strokeWidth));
	height: calc(100% - var(--local-strokeWidth));
	background: var(--local-color-container-bg);
	border-radius: 100%;
	transform: translateX(-50%) translateY(-50%);
	content: '';
}

.handle {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 9999;
	width: var(--space-extra-large);
	height: 50%;
	transform-origin: left bottom;
	cursor: pointer;
	pointer-events: none;
}

.handle::after {
	position: absolute;
	top: 0px;
	left: 50%;
	display: block;
	width: var(--space-extra-small);
	height: var(--space-extra-small);
	background: var(--local-color-white);
	border: 1px solid var(--local-color-accent);
	border-radius: 100%;
	transform: translateX(-50%);
	content: '';
	pointer-events: all;
}

.handle:hover .badge {
	opacity: 1;
}

/* Connects the handle to the last item of the circle */
.helper {
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	width: 2px;
	height: 50%;
	border-left: 0.1px dashed var(--local-color-container-assistive);
	transform-origin: left bottom;
	cursor: pointer;
	pointer-events: none;
}

/* Badge that indicates the sweep percentage while sweeping */
.badge {
	position: absolute;
	color: var(--local-color-white);
	white-space: nowrap;
	background: var(--local-color-accent);
	border-radius: var(--local-border-radius-3);
	opacity: 0;
	pointer-events: none;
}

.badgeActive {
	opacity: 1;
}
